@font-face {
    font-family: 'Gilmer';
    src: url(../asset/font/GilmerRegular.otf);
}
@font-face {
    font-family: 'Creation';
    src: url(../asset/font/Creation.otf);
}
body{
    font-family: 'Gilmer';
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin: 0;
    color: black;
    background-color: white;
    font-size: 16px;
}

h1{
    font-size: 3rem;
    margin: 34px;
}
h2{
    font-size: 2rem;
    margin: 32px;
}
main{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 128px;
}

#productMain{
    display: flex;
}

section{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a{
    color: black;
    text-decoration: underline;
    
}

img{
    width: 50%;
    height: fit-content;
    min-width: 100%;
    min-height: 100%;
}

.productContainer{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 12px;
    row-gap: 12px;
    cursor: pointer;
}

.productContainer section{
    width: 100%;
    height: 100%;
    transition: 0.3s;
}
.productContainer section img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    transition: 0.3s;
}

.productDisplay{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.productDisplay img{
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 50%, 0);
}

#productData{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#productData a{
    background-color: black;
    color: white;
    padding: 8px;
    min-width: 128px;
    text-align: center;
    text-decoration: none;
}
#productImage{ 
    width: 50%;
    height: 50%;
    background-color: hsla(0, 0%, 50%, 0);
}
#productImage img{
    object-fit: cover;
    aspect-ratio: 1/1;
}

footer{
    height: 128px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}
footer p{
    margin: 5px;
}

.loadingScreen{
    animation: loading 1s normal;
}

@keyframes loading{
    0%{
        top: 100%;
    }
    40%{
        top: 0%;
    }
    50%{
        top: 0%;
    }
    100%{
        top: -100%;
    }
}


@media screen and (min-width:769px) {
    .productContainer{
        grid-template-columns: 25% 25% 25% 25%;
    }
    .productDisplay img{
        width: 50%;
        height: 50%;
    }
}